
*/__pycache__
__pycache__/*
.gitignore
convert.sh
convert_all_models.sh
convert_all_models.py
convert_single_model.sh
replace_models.py
test_memory.py
lsg_converter/*/__pycache__
lsg_converter/attention_layers/test_block_local.py
lsg_converter/attention_layers/test_raw_block_local.py
lsg_converter/attention_layers/generation_pipeline.py
lsg_converter.egg-info/*
dist
update_package.sh
llama_test/*
output_test/*
test_new_features/*
test_flash_attn.py